<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Funkoshop</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="icon" type="image/x-icon" href="img/fav.png" />
  </head>
  <body>
    <header>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/">
            <img
              class=""
              src="./img/branding/logo_light_horizontal.svg"
              alt="logotipo Funkoshop"
            />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a class="navbar__link" href="/shop">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./login">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__cart" href="./pages/shop/carrito">
              <img src="./img/icons/cart-icon.svg" alt="carrito" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <section class="hero">
              <div class="sombra"></div>
              <article class="hero__content container">
                <h3 class="hero__title">Harry Funkos</h3>
                <p class="hero__text">
                  Descubrí el próximo Funko Pop de tu colección.
                </p>
                <a class="hero__link" href="/shop?cat=7">SHOP</a>
              </article>
            </section>
          </li>
          <li class="glide__slide">
            <section class="hero2"><div class="sombra"></div>
              <article class="hero__content container">
                <h3 class="hero__title">Star Funkos</h3>
                <p class="hero__text">
                  Descubrí el próximo Funko Pop de tu colección.
                </p>
                <a class="hero__link" href="/shop?cat=8">SHOP</a>
              </article>
            </section>
          </li>
        </ul>
      </div>
    </div>

    <main class="main-container">


      <% productos.forEach(producto => { %> 


        <section class="coleccion container">
          <article class="coleccion__content">
            <h3 class="coleccion__title"><%- producto.categoria == 7 ? '<p>Harry<p>' : '<p>Star</p>' %></h3>
            <p class="coleccion__text">
              <%= producto.nombre %>
            </p>
            <a class="coleccion__link" href="/shop?cat=<%= producto.categoria %>">Ver Colección</a>
          </article>
          <picture class="coleccion__cover">
            <img 
    width="100"
    src="/uploads/productos/producto_<%= producto.id %>.jpg" 
    alt="<%= producto.nombre %>"
    />
          </picture>
        </section>

      <% }) %>

      
    

    

      <section class="slider container glide" id="glider2">
        <h2 class="slider__title">Últimos lanzamientos</h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">


            <% productos.forEach(producto => { %> 

              <li class="glide__slide">
                <article class="card-item">
                  <a class="card-item__link"></a>
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                   <img 
    width="100"
    src="/uploads/productos/producto_<%= producto.id %>.jpg" 
    alt="<%= producto.nombre %>"
    />
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence"><%- producto.categoria == 7 ? '<p>Harry<p>' : '<p>Star</p>' %></p>
                    <h4 class="card-item__name"><%= producto.nombre %></h4>
                    <p class="card-item__price">$ <%= producto.precio %></p>
                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
                </article>
              </li>

              <% }) %>


            

        
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon icon="bxs:chevron-left"></iconify-icon>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon icon="bxs:chevron-right"></iconify-icon>
          </button>
        </div>
      </section>
    </main>
    <footer class="footer">
      <nav class="navbar__footer container">
        <ul class="navbar__footer__menu">
          <li class="navbar__footer__item">
            <a class="navbar__link" href="/shop">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">INGRESAR</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">ADMIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/register"
              >REGISTRARSE</a
            >
          </li>
        </ul>
        <picture>
          <img
            class="logo__footer"
            src="./img/branding/isotype.svg"
            alt="Isotipo de FunkoShop"
          />
        </picture>
      </nav>
      <p class="footer__copy">All rights reserved 2023-Funkoshop &copy;</p>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      new Glide(".glide", {
        type: "carousel",
        autoplay: 4000,
        animationDuration: 1500,
        startAt: 0,
        perView: 1,
        gap: 30,
        breakpoints: {
          991: {
            perView: 1,
          },
          768: {
            perView: 1,
          },
        },
      }).mount();
    </script>

    <script>
      new Glide("#glider2", {
        type: "carousel",
        startAt: 0,
        perView: 3,
        gap: 30,
        breakpoints: {
          768: {
            perView: 2,
          },
          320: {
            perView: 1,
          },
        },
      }).mount();
    </script>
  </body>
</html>
