<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
  <%- include('partials/header') %>
  <main> 
    <h1>Inicio</h1>
     <ul>
      <% productos.forEach(producto => { %> 
        <img 
    width="100"
    src="/uploads/productos/producto_<%= producto.id %>.jpg" 
    alt="<%= producto.nombre %>"
    />
        <li><%= producto.nombre %></li>
        <li><%= producto.precio %></li>
      <% }) %>
    </ul>
  </main>
  <%- include('partials/footer') %>
</body>
</html>   