<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOP</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/shop.css" />
    <link rel="icon" type="image/x-icon" href="../../img/fav.png" />
  </head>
  <body>
    <header>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/">
            <img
              src="../../img/branding/logo_light_horizontal.svg"
              alt="logotipo Funkoshop"
            />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a class="navbar__link" href="#">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./cart">
              <img src="../../img/icons/cart-icon.svg" alt="carrito" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="shop-container">
      <aside>

        <form
        action=""
        method="get"
        enctype="application/x-www-form-urlencoded"
        id="searchForm"
      >
        <p>BUSCAR FUNKO</p>
 
        <input type="text" id="myInput"  name="search" onkeyup="myFunction()" placeholder="Nombre del Funko">

        <ul id="myUL">
          <% all.forEach(producto => { %> 
          <li onclick="setVal(this)"><%= producto.nombre %></li>
          <% }) %>
        </ul>



      </form>
        <form
          action=""
          method="get"
          enctype="application/x-www-form-urlencoded"
        >
          <p>ORDENAR POR</p>
          <select name="orden" id="orden" onchange="this.form.submit()">
            <option value="up" <% if(val == 'up'){ %> selected <% } %>>Mayor precio a menor precio</option>
            <option value="down" <% if(val == 'down'){ %> selected <% } %>>Menor precio a mayor precio</option>
            <option value="a-z" <% if(val == 'a-z'){ %> selected <% } %>>A - Z</option>
            <option value="z-a" <% if(val == 'z-a'){ %> selected <% } %>>Z - A</option>
          </select>

        </form>
      </aside>

      <main class="main-shop" style="    display: inline-grid;">
        
            <div class="slider__items">
        
                <% productos.forEach(producto => { %> 

                    <article class="card-item">
                        <picture class="card-item__cover">
                          <span class="card-item__tag">Nuevo</span>
                          <img
                            class="card-item__img--front"
                            src="/uploads/productos/producto_<%= producto.id %>.jpg"
                            alt="<%= producto.nombre %>"
                          />
                        </picture>
                        <div class="card-item__content">
                          <h4 class="card-item__name"><%= producto.nombre %></h4>
                          <p class="card-item__price">$ <%= producto.precio %></p>
                          <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                        <a class="toCart" data-cod="<%= producto.codigo %>" href="javascript:void(0);" onclick="addCart(this)">Agregar</a>
                      </article>

                  <% }) %>

 
          </div>

 
    
      </main>
    </div>

    <footer>
      <nav class="navbar container">
        <ul class="navbar__item">
          <li class="navbar__item">
            <a class="navbar__link" href="#">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">INGRESAR</a>
          </li>
        </ul>
        <picture>
          <img
            src="../../img/branding/isotype.svg"
            alt="Isotipo de FunkoShop"
          />
        </picture>
      </nav>
      <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>



<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
        if (input && input.value) {
  ul.style.display = "block";
}else{
ul.style.display = "none";
}
    for (i = 0; i < li.length; i++) {
        a = li[i];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function setVal(e) {
document.getElementById("myInput").value = e.textContent.trim();
document.getElementById("searchForm").submit();
}



function addCart(e){

const cod = e.getAttribute("data-cod"); 

let cookie = getCookie('cart');

    if(! cookie){
    document.cookie = "cart="+JSON.stringify([cod]);
    } else {
        let currCookie = JSON.parse(cookie);

        if(cod){
  if(currCookie.indexOf(cod) === -1 ){
  currCookie.push(cod);
  document.cookie = "cart="+JSON.stringify(currCookie.filter(Boolean));
    }
        }

    }

}


function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}
</script>


  </body>
</html>
